Package: com.mootjeuh.homekeyhangup
Name: Homekey Hangup
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Press the home button to hang up while in call.
Maintainer: Mohamed Marbouh
Author: Mohamed Marbouh
Section: Tweaks
